.about_me{
    background-color: #90e653;
    height: 390px;
    padding-top: 1px;
    border-radius: 30px;
    border-bottom: 6px solid #019DF4;
}

.about_me-container {
    margin: 100px 0 0 0;
    text-align: center;
}

.about_me-container__p {
    font-family: 'Geologica', system-ui;
    margin: 25px 0 0 0;
    font-size: 20px;
}
