header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: conic-gradient(#00227e 5%,
            /* Primer color comienza desde el inicio (0%) */
            #16193a 45%,
            /* El primer color ocupa el 75% del círculo */
            #000429 74%,
            /* El segundo color comienza donde termina el primero (75%) */
            #00227e 100%
            /* El segundo color ocupa el 25% restante del círculo (100% - 75%) */
        );
    padding: 40px 15px 40px 15px;
    border-radius: 0 0 5px 5px;
}

.title {
    font-family: 'Rubik Dirt', cursive;
    font-weight: normal;
    font-size: 40px;
    color: #f58cffe7;
    margin: 0 0 0 60px;
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar__ul {
    display: flex;
    list-style: none;
}

.navbar__li {
    text-align: center;
    padding: 15px;
    align-items: center;

}

.navbar a {
    display: flex;
    border-radius: 10px;
    transition: .15s;
    text-decoration: none;
    color: #eaeaea;
}

/* Hover */
.navbar a:hover {
    background-color: #7fef47;
    font-weight: bold;
    padding: 0 25px;
    color: rgb(0, 57, 95);
}

@media screen and (max-width:878px) {
    .title {
        margin: 0 0 0 10px;
    }
}

@media screen and (max-width:824px) {
    .title {
        margin: 0 0 0 0px;
        font-size: 25px;
    }
}

@media screen and (max-width:792px) {
    .title {
        font-size: 40px;
    }
    header {
        display: inline-block;
        width: calc(100% - 30px);
        text-align: center;
    }

    .navbar {
        display: none;
    }

}

@media screen and (max-width:280px) {
    .title {
        font-size: 30px;
        margin: 0;
    }
}