.inicio{
    text-align: center;
}
.inicio-me{
    margin: 50px 0 90px 0;
}
.inicio-me__h2{
    font-size: 70px;
}
.inicio_img-1{
    width: 250px;
    border-radius: 100%;
}
.inicio_img-2{
    width: 650px;
}